{% block body %}
    <h1>Offers list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Expiredat</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td><a href="{{ path('offer_show', { 'id': offer.id }) }}">{{ offer.title }}</a></td>
                <td>{{ offer.description }}</td>
                <td>{% if offer.expiredAt %}{{ offer.expiredAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ offer.price }} PLN</td>
                <td>
                    <a class="btn btn-success" href="{{ path('offer_show', { 'id': offer.id }) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ path('offer_new') }}">Create a new offer</a>
{% endblock %}
