{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ offer.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offer.description }}</td>
            </tr>
            <tr>
                <th>Date of publication</th>
                <td>{% if offer.expiredAt %}{{ offer.expiredAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ offer.price }} PLN</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ offer.category.name }}</td>
            </tr>
        </tbody>
    </table>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
    <a class="btn btn-success" href="{{ path('offer_index') }}">Back to the list</a>

    <a class="btn btn-primary" href="{{ path('offer_edit', { 'id': offer.id }) }}">Edit</a>

{% endblock %}
