{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messages Send</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for messageSend in messagesSend %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': messageSend.id }) }}">{{ messageSend.title }}</a></td>
                <td>{{ messageSend.content }}</td>
                <td>{% if messageSend.createdAt %}{{ messageSend.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ messageSend.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Messages Received</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for messageReceiver in messagesReceiver %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': messageReceiver.id }) }}">{{ messageReceiver.title }}</a></td>
                <td>{{ messageReceiver.content }}</td>
                <td>{% if messageReceiver.createdAt %}{{ messageReceiver.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ messageReceiver.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
